.aboutus {
	width: 80%;
	min-height: 887px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 60px;
	padding: 75px 0 0 0;
	margin: 0 auto;
}


.aboutus__tittle {
	position: relative;
	margin: 0 0 44px 0;
	font-size: 40px;
	line-height: 22px;
}

.aboutus__tittle::after {
	content: '';
	position: absolute;
	border: 1px solid yellow;
	width: 43px;
	top: 35px;
	left: 0;
}


.aboutus__subtittle {
	width: 600px;
	margin: 0 0 33px 0;
	font-size: 16px;
	line-height: 28px;
}


.aboutus__text {
	width: 578px;
	line-height: 28px;
	margin: 0;
	font-size: 16px;
	line-height: 28px;
}


.mini-gallery__list {
	list-style: none;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
	padding: 0;
}
